p.ich { 
        color:green; 

}
p.remote { 
        color:blue; 
        margin-left: 50px;
            }


p.cp1 { 
        color:red; 
        
        }
p.cp2 { 
                color: grey; 
                margin-left: 50px;
     }